<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <script src="account.js"></script>
        <script src="signup.js"></script>
        <style>
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: white;
            }
            .account-box {
                max-width: 330px;
                margin: 0 auto;
            }
            .list-group-item-text {
                padding-left: 20px;
            }
            .list-group-item {
                padding: 15px;
            }
            .list-group-item-heading {
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body onload="populateDisplayById()">
        <div class="account-box">
            <h1>Account Page</h1>
            <ul class="list-group list-group-flush" id="display">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Username</h4>
                    <p class="list-group-item-text" id="username"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">First Name</h4>
                    <p class="list-group-item-text" id="firstname"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Last Name</h4>
                    <p class="list-group-item-text" id="lastname"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Email</h4>
                    <p class="list-group-item-text" id="email"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Affiliation</h4>
                    <p class="list-group-item-text" id="affiliation"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Birthday</h4>
                    <p class="list-group-item-text" id="birthday"></p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Interests</h4>
                    <p class="list-group-item-text" id="interests">
                        <select
                            name="newsInterest"
                            id="newsInterest"
                            multiple
                            class="form-select"
                            aria-label="multiple select example"
                            disabled="disabled"
                        >
                            <option disabled selected value>
                                -- select an option --
                            </option>
                        </select>
                    </p>
                </div>
            </ul>
            <a href="/editaccount" class="btn btn-lg btn-primary btn-block"
                >Edit</a
            >
            <br />
            <a href="/">Back to home page</a>
        </div>
    </body>
</html>
