<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <script src="chats.js"></script>
    </head>
    <body onload="fetchAllChats()">
    <p> Below is the returned information about all the chats the logged in user is a part of </p>
    <table id="test"> </table>
        <a href="/newchat">New Chat</a>
    </body>
</html>