<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        />
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <script src="chats.js"></script>
    </head>
    <body onload="fetchAllChats()">
    <table id="test"> </table>
        <a class="btn btn-light btn-lg btn-block" href="/" role="button">Home</a>
        <a class="btn btn-dark btn-lg btn-block" href="/newchat" role="button">New Chat</a>
        
        <div class="list-group" id="group-chats">
  <a href="/chat?chatid=(chatid)" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Chats</h5>
    </div>
  </a>
  
</div>
        
    </body>
</html>