<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <script src="home.js"></script>
        <style>
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: white;
            }
            .main-box {
                width: 330px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="main-box">
            <a href="/account">My Profile</a>
            <br />
            <a href="/search">Search Users</a>
            <br />
            <a href="/signout">Sign Out</a>
        </div>
    </body>
</html>
