<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="login-box">
            <h1><%= username %></h1>
        </div>
    </body>
</html>
