<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
        <script src="/socket.io/socket.io.js"> </script>
        <script src="home.js"></script>
        <script src="/createPost.js"></script>
        <script src="formvalidation.js"></script>
        <style>
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: white;
            }
            .main-box {
                width: 800px;
                margin: 0 auto;
            }
            .card {
                margin-bottom: 10px;
            }
            .card-text {
                padding: 10px;
            }
            textarea:focus,
            input:focus {
                outline: none;
            }
            .commentTime {
                font-size: 8px;
                color: grey;
            }
        </style>
        <script>
            var me = '<%=username%>';
            var person = '<%=username%>';
            var mypage = true;
        </script>
    </head>
    <body onload="loadPage()">
        <div class="main-box">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/account">Profile</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/user/mywall">My Wall</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/search">Search</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/friends">Friends</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/friendvisualizer">Visualize Friends!</a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/testchat">Chats</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/invitations" id="invitesddd-tab"> </a>
                    </li>
                    
                    <li class="breadcrumb-item">
                        <a href="/signout">Sign Out</a>
                    </li>
                    
                		<li class="nav-item dropdown">
                    		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="invites-tab">Invitations</a>
                    		<div class="dropdown-menu" id="invites-dropdown">
                    		</div>
                		</li>
            		
                </ol>
            </nav>
            <button
                role="button"
                data-toggle="collapse"
                href="#collapseForm"
                aria-expanded="false"
                aria-controls="collapseForm"
                class="btn btn-primary"
            >
                Post
            </button>
            <br />
            <div class="collapse" id="collapseForm">
                <br />
                <form onsubmit="return postNewPost();" id="createPost">
                    <label for="title">Title</label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-control"
                    />
                    <label for="content">Content</label>
                    <textarea
                        id="content"
                        class="form-control"
                        required
                    ></textarea>

                    <br />
                    <input
                        type="submit"
                        value="Post"
                        class="btn btn-xs btn-primary btn-block"
                    />
                </form>
            </div>
            <br />
            <div id="posts"></div>
            <br />
        </div>
    </body>
</html>
