<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up Page</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <style type="text/css">
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: white;
            }
            .signup-box {
                max-width: 330px;
                margin: 0 auto;
            }
            .signup-box .form-control {
                margin-bottom: 10px;
            }
            .incorrect {
                border-color: red;
            }
        </style>
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        ></script>
        <script src="formvalidation.js"></script>
        <script src="newchat.js"> </script>
    </head>
    <body>
        <div class="signup-box">
            <h1>Create a New Chat</h1>
            <i>What would you like to name your new chat?</i> <br />
            <form
            	id="chat-form"
                action="/createchat"
                method="POST"
            >

                <input
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    minlength="1"
                />

                <input
                    type="submit"
                    value="Submit"
                    class="btn btn-lg btn-primary btn-block"
                />
            </form>
            <br />

        </div>
    </body>
</html>