<!DOCTYPE html>
<html>
<head>
  <title>Sign-up Page</title>
</head>
<body>
  <h1>Sign-up Page</h1>
  <font color="red"><%= message %><p> <br>
  <font color="black">
   <i> Enter your account information below! </i> <br>
  <form action="/createaccount" method="post">
  	<label for="uname">Username:</label>
    <input type="text" id="uname" name="username">
    
    <label for="pword">Password:</label>
    <input type="text" id="pword" name="password">
    
    <label for="fname">Full Name:</label>
    <input type="text" id="fname" name="fullname">
    
    <input type="submit" value="Submit">
  </form>
</body>
</html>
